*{
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
  overflow-y: auto;
}

body {
  
  font-family: Arial, sans-serif;
  background-color: white;
  margin: 0;
}
.container {
  display: flex;
  height: calc(100vh - 60px);
  width: 100vw;
  margin: 0;
}
.left-panel, .right-panel {
  flex: 1;
  height: 100vh;
  width: 50vw;
  margin: 0;
}
.left-panel {
  background-color: #1b496f;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;

}
.right-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  padding-top: 40px;
  font-size: 0.9em;
}
.form-container {
  width: 100%;
  max-width: 320px;
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  
}
.form-header {
  margin-bottom: 20px;
  text-align: center;
}
.form-header h2 {
  color: #5a0b4d;
}
.form-footer {
  text-align: center;
  margin-top: 20px;
}
.btn-primary {
  background-color: #2972ad;
  border-color: #2972ad;
  border-radius: 0;
  border-width: 1.5px;
  padding: 8px 12px;
  font-size: 0.9em;
}
.btn-primary:hover {
  background-color: #2972ad;
  border-color: #5a0b4d;
  box-shadow: 0 4px 6px #5a0b4d;
  
}
.error-message {
  color: #d9534f;
  text-align: center;
  margin-bottom: 15px;
}
.top-right {
  position: absolute;
  top: 20px;
  right: 20px;
}
.bottom-left {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.navbar {
  background-color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.navbar .btn-signup {
  background-color: #5a0b4d;
  color: white;
  border: none;
  border-radius: 5px;
}
.navbar .btn-signup:hover {
  background-color: #5a0b4d;
}
.password-suggestions {
  list-style-type: disc;
  padding-left: 20px;
}
.left-panel p {
  white-space: nowrap;
}
@media (max-width: 768px) {
  .container {
      flex-direction: column;
      height: auto;
  }
  .left-panel {
      margin-top: 60px;
  }
  .left-panel, .right-panel {
      flex: none;
      width: 100%;
      padding: 10px;
      height: auto;
  }
  .form-container {
      max-width: 90%;
      margin: 0 auto;
  }
  .navbar {
      justify-content: center;
  }
} 

.linkin {
  text-decoration: none;
}

.link1 {
  color: black;
}

.link2 {
  color: #5a0b4d;
}